<%= image_tag attachments['banner.jpg'].url %>

<h1>Thanks for joining the newsletter!</h1>

<p>You will be receiving periodic updates about that conference.<p>

<p>You can always <a href="|unsubscribe_link|">unsubscribe.</a></p>