<div class="row-fluid marketing">
  <div class="span6">
    <h4><a id="cfp" href="<%= new_speaker_path %>">Interested in speaking?</a></h4>
    <ul>
      <li>Fill out the <a href="<%= new_speaker_path %>">form</a> or Email the <a href="mailto:owasp-cali-planners@owasp.org">conference committee.</a></li>
      <ul>
        <li>Title</li>
        <li>Format (45/20/5 minutes long)</li>
        <li>Abstract</li>
        <li>Previous speaking experience (or references)</li>
        <li>Your name (optional)</li>
        <li>Your bio (optional)</li>
      </ul>
      <li>Deadline to submit: November 15th</li>
      <li>Notification of acceptance: December 1st</li>
      <li>Travel accomodations are not provided</li>
    </ul>
  </div>

  <div class="span6">
    <h4>Topics</h4>
    <ul>
      <li>Security automation</li>
      <li>Secure Coding Education</li>
      <li>Vulnerability analysis: code review, pentest, static analysis</li>
      <li>Privacy-preserving methods for data access/mining</li>
      <li>Security program management</li>
      <li>Forensics</li>
      <li>Reverse Engineering Malware and Malware Analysis</li>
      <li>Exploitation Tactics</li>
      <li>Field reports from corporations regarding the institution of Web Application Security processes</li>
    </ul>
  </div>
</div>