 <div class="alert-message warning">
   <p>Registration is open! <%= link_to "Register today", "http://www.cvent.com/d/q4q8nc/4W" %>. $30 for students, $100 for <%= link_to "OWASP members", "https://www.owasp.org/index.php/Membership" %>, $150 for everyone else!</p>
   <p>Purchasing an OWASP membership while registering will give you a $50 discount, offsetting the cost of the membership.</p>
 </div>