 <div class="alert-message warning">
   <p>Registration is open! <%= link_to "Register today", "http://www.cvent.com/d/q4q8nc/4W" %>. $15 for students, $25 for <%= link_to "OWASP members", "https://www.owasp.org/index.php/Membership" %>, $30 for everyone else!</p>
 </div>