 <div class="alert-message info">
   <p><strong>CFP Open until October 15:</strong> <%= link_to 'Submit now', new_speaker_path %> or <%= link_to 'learn more about the CFP', cfp_speakers_path %></p>
 </div>