 <div class="alert-message warning">
   <p>Registration is open! <%= link_to "Register today", "http://www.cvent.com/d/q4q8nc/4W" %>. $25 for students, $50 for <%= link_to "OWASP members", "https://www.owasp.org/index.php/Membership" %>, $100 for everyone else! After December 15th, pricing goes up to $30, $100, and $150 respectively.</p>
   <p>Purchasing an OWASP membership while registering will give you a $50 discount, offsetting the cost of the membership.</p>
 </div>