<div class="row-fluid">
  <h4><a href="https://twitter.com/intent/tweet?screen_name=appseccali" class="twitter-mention-button" data-size="large">Tweet to @appseccali</a>
  </h4>
  <h4><a id="contact" href="mailto:owasp-cali-planners@owasp.org">Email Us.</a></h4>
</div>