<div class="row-fluid marketing">
  <h4><a href="https://twitter.com/intent/tweet?screen_name=appseccali" class="twitter-mention-button" data-size="large">   Tweet to @appseccali</a>
  </h4>
  <h4><a name="contact"><a href="mailto:owasp-cali-planners@owasp.org">Email Us.</a></h4>
  <h4>Follow us:</h4>
  <div class="span5">
    <p><img src="https://si0.twimg.com/profile_images/3203349049/0d2bafa52714b4652f84b7b5b49be40c.png"  width="73" height="73"></p>
    <a href="https://twitter.com/appseccali" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @appseccali</a>

    <p><img src="https://si0.twimg.com/profile_images/589478272/owasp_logo_bigger_bigger.gif" width="73" height="73"></p>
    <a href="https://twitter.com/owaspla" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @owaspla</a>
  </div>

  <div class="span5">
    <p><img src="https://si0.twimg.com/profile_images/589478272/owasp_logo_bigger_bigger.gif"  width="73" height="73"></p>
    <a href="https://twitter.com/owaspoc" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @owaspoc</a>

    <p><img src="https://si0.twimg.com/profile_images/589478272/owasp_logo_bigger_bigger.gif" width="73" height="73"></p>
    <a href="https://twitter.com/owaspbayarea" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @owaspbayarea</a>
  </div>

</div>