<div class="jumbotron">
  <h1>Surf, Sand, Security!</h1>
  <p class="lead">Get together and discuss security on the shores of Santa Monica, CA.
  <p class="lead">January 27 &mdash; 28, 2014</p>

  <%= form_for @beta_request, class: 'form-inline' do |f| %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.text_field :email, placeholder: "Email" %><br \>
    <%= f.button 'Sign up for announcements', class: 'btn btn-primary' %>
    <p>Your email address will not be given to anyone.</p>
  <% end -%>
  <p><a href="https://twitter.com/appseccali" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @appseccali</a></p>
</div>