<div class="row-fluid marketing">
  <div class="span6">
    <h4>Annenberg Community Beach House</h4>
    <p>Set on five acres of Santa Monica's beach, the Annenberg Community Beach House blends historic Hollywood glamour with coastal Califonia style in an unparalleled meeting and event destination. Winner of Best New Venue at the 2010 BizBash LA Style Awards, the Beach House is a fully accessible, Gold LEED venue with floor to ceiling ocean views, verandas and decks.</p>

    <h4>Address</h4>
    <p><a href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d47052!2d-118.512688!3d34.024316!4m13!3m12!1m0!1m1!1sAnnenberg+Community+Beach+House%2C+415+E+Pacific+Coast+Hwy%2C+Santa+Monica%2C+CA+90402!3m8!1m3!1d100940!2d-122.4376!3d37.7577!3m2!1i1024!2i768!4f13.1&fid=0">415 Pacific Coast Highway
Santa Monica, CA 90402</a></p>
  </div>

  <div class="span6">
  	<%= link_to(image_tag('gmaps.png', class: 'gmaps'), 'https://www.google.com/maps/preview#!data=!4m24!2m11!1m10!1s0x0%3A0xa736245290fc2352!3m8!1m3!1d13005189!2d-119.306607!3d37.269174!3m2!1i1024!2i768!4f13.1!5m11!1m10!1sAnnenberg+Community+Beach+House%2C+Pacific+Coast+Highway%2C+Santa+Monica%2C+CA!4m8!1m3!1d13005189!2d-119.306607!3d37.269174!3m2!1i1024!2i768!4f13.1') %>
  </div>
</div>

