

        <h4>Confirmed Speakers <a id="speakers" href="<%= speakers_path %>">(cont'd).</a></h4>
          <div class="row-fluid">
<% Speaker.where(:confirmed => true).shuffle.take(8).each_with_index do |speaker, index| -%>
            <div class="span3">
              <p><%= link_to(image_tag((speaker.image_url.blank? ? 'egg.png' : speaker.image_url), :style => 'height: 140px'), speaker) %></p>
              <h4><%= link_to speaker.name, speaker %></h4>
              <h5><%= speaker.presentation_title || "TBA" %></h5>
            </div><!--/span-->
  <% if (index + 1) % 4 == 0 -%>
          </div><!--/row-->
          <div class="row-fluid">
  <% end -%>
<% end -%>
        </div>