<h4>Confirmed Speakers <a id="speakers" href="<%= speakers_path %>">(cont'd).</a></h4>

<div class="row-fluid marketing pagination-centered">
  <% Speaker.all.where(:confirmed => true).shuffle.each_with_index do |speaker, index| %>
    <%= render :partial => 'row', :locals => {:speaker => speaker} %>
    <% if (index + 1) % 4 == 0 %>
</div>
<div class="row-fluid marketing pagination-centered">
    <% end %>
  <% end %>
</div>