
<div class="row-fluid">
<h2>Hotels.</h2>
<p class="lead">We are working on ground transportation options. Stay tuned.</p>
<h3><a href="https://plus.google.com/112423758248380486191/about?rfmt=s&hl=en&gl=us">Palihouse</a></h3>
<h4>Promo code: APPSEC, 10% off all rates, currently ~$269/night.</h4>
<p>8465 Holloway Dr<br>
West Hollywood, CA 90069</p>
<p><a href="https://www.google.com/maps/preview#!data=!4m13!3m12!1m0!1m1!1sPalihouse%2C+8465+Holloway+Dr%2C+West+Hollywood%2C+CA+90069!3m8!1m3!1d100940!2d-122.4376!3d37.7577!3m2!1i1024!2i768!4f13.1">Directions</a></p>
</div>

<div class="row-fluid">
<h3><a href="https://plus.google.com/112685808530193575086/about?rfmt=s&hl=en&gl=us">Best Western Plus Gateway Hotel</a></h3>
<h4>Promo code: AppSec Cali - currently $147 a night (subject to change).</h4>
<p>1920 Santa Monica Blvd<br>
Santa Monica, CA 90404</p>
<p><a href="https://www.google.com/maps/preview#!data=!4m25!2m11!1m10!1s0x0%3A0x56e058700b0dd281!3m8!1m3!1d100940!2d-122.4376!3d37.7577!3m2!1i1024!2i768!4f13.1!5m12!1m11!1sBest+Western+Plus+Gateway+Hotel+Santa+Monica!4m8!1m3!1d100940!2d-122.4376!3d37.7577!3m2!1i1024!2i768!4f13.1!17b1">Directions</a></p>
</div>

<div class="row-fluid">
<h3>Other local hotels</h3>
More local hotels can be found <a href="https://www.google.com/search?q=hotels&tbm=plcs&rfmt=s&hl=en&authuser=0&fll=34.02467478219019%2C-118.51297352624184&fspn=0.032687076536142%2C0.08222579355278015&sll=34.02467624466031%2C-118.51297352624184&sspn=0.008691228616889646%2C0.021863171650736035&uule=a%20cm9sZTpWSUVXUE9SVCBwcm9kdWNlcjpWSUVXUE9SVF9QQVJBTVMgcmVjdHtsb3sgbGF0aXR1ZGVfZTc6MzQwMDgzMzEyIGxvbmdpdHVkZV9lNzotMTE4NTU0MDg2NH1oaXsgbGF0aXR1ZGVfZTc6MzQwNDEwMTgzIGxvbmdpdHVkZV9lNzotMTE4NDcxODYwNn19&dpr=1&ei=iDEmUuypDq2UjALO24CgAg&ved=0CAUQ1xooAQ" target="_blank">here.</a>
</div>