
    <div class="span3">
      <p><%= link_to image_tag(speaker.image_url, :height => 73, :width => 73), speaker %></p>
      <p><strong><%= speaker.name%></strong>, <em><%=speaker.title %>, <%=speaker.company %></em></p>
    </div>
