<p>AppSec California 2014 is dedicated to providing a harassment-free conference experience for everyone. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks. Conference participants violating these rules may be sanctioned or expelled from the conference at the discretion of the conference organizers. Our anti-harassment policy can be found at:<p>

<p><a href="http://appseccali.org/CodeOfConduct">http://appseccali.org/CodeOfConduct</a></p>

<blockquote>
<p>Harassment includes offensive verbal comments, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.</p>
<br>

<p>Exhibitors in the expo hall, sponsor or vendor booths, or similar activities are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.</p>
<br>
<p>If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified by t-shirts/special badges/head sets. You may also send a direct message via Twitter to the @appseccali twitter account.</p>
<br>
<p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>
</blockquote>

<p>
<a href="mailto:owasp-cali-planners@owasp.org">owasp-cali-planners@owasp.org</a></p>
<p>
Santa Monica Police Dispatch: 310.458.8491
</p>

<p>We expect participants to follow these rules at all conference venues and conference-related social events.</p>
