<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#speakers">Confirmed Speakers</a></li>
    <li><a href="#cfp">Call For Papers</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="/CodeOfConduct">Code of Conduct</a></li>
  </ul>
  <h3 class="muted">AppSec California</h3>
</div>

<hr>

<div class="jumbotron">
  <h1>Surf, Sand, Security!</h1>
  <p class="lead">Get together and discuss security on the shores of Santa Monica, CA.
  <p><a href="https://twitter.com/appseccali" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @appseccali</a></p>
  <p class="lead">January 27 &mdash; 28 2014</p>

  <%= form_for @beta_request, class: 'form-inline' do |f| %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.text_field :email, placeholder: "Email" %>
    <%= f.button 'Sign up for announcements', class: 'btn btn-primary' %>
    <p>Your email address will not be given to anyone.</p>
  <% end -%>
</div>

<hr>

<h4><a name="speakers">Confirmed Speakers.</a></h4>
<div class="row-fluid marketing pagination-centered">
  <div class="row-fluid marketing pagination-centered">

    <div class="span3">
      <p><a href="https://twitter.com/rsnake"><img src="https://si0.twimg.com/profile_images/378800000272629406/4ea8a14078730777c5a7709caceb1d6a_bigger.jpeg"  width="73" height="73"></a></p>
      <a href="https://twitter.com/rsnake" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow Robert Hansen</a>
      <p><strong>Robert Hansen</strong>, <em>Director of Product Management &amp; Technical Evangelist at WhiteHat Security</em></p>
    </div>

    <div class="span3">

      <p><a href="https://twitter.com/NGalbreath"><img src="https://si0.twimg.com/profile_images/2032133757/120c709_bigger.jpg"  width="73" height="73"></a></p>
      <a href="https://twitter.com/NGalbreath" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow Nick Galbreath</a>
      <p><strong>Nick Galbreath</strong>, <em>Client9</em></p>
    </div>

    <div class="span3">
      <p><a href="https://twitter.com/marcmaiffret"><img src="https://si0.twimg.com/profile_images/864130629/25402_367502454556_850269556_3515853_2369372_n_bigger.jpg"  width="73" height="73"></a></p>
      <a href="https://twitter.com/marcmaiffret" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow Marc Maiffrait, CTO of @BeyondTrust</a>
      <p><strong>Marc Maiffrait</strong>, <em>CTO @BeyondTrust</em></p>
    </div>
  </div>
  <div class="row-fluid marketing pagination-centered">
    <div class="span3 pagination-centered">
      <p><a href="https://twitter.com/ZaneLackey"><img src="https://si0.twimg.com/profile_images/1829354157/notavirusdolphin-edit4_bigger.jpg"  width="73" height="73"></a></p>
      <a href="https://twitter.com/ZaneLackey" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow Zane Lackey, Director of Security Engineering at Etsy</a>
      <p><strong>Zane Lackey</strong>, <em>Director of Security Engineering at Etsy</em></p>
    </div>

    <div class="span3 pagination-centered">
      <p><a href="https://twitter.com/jeremiahg"><img src="https://si0.twimg.com/profile_images/378800000262564717/168c005ddd995d0faed0ae22890402cb_bigger.png"  width="73" height="73"></a></p>
      <a href="https://twitter.com/jeremiahg" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow Jeremiah</a>
      <p><strong>Jeremiah Grossman</strong>, <em>Chief Technology Officer</em></p>

    </div>

    <div class="span3 pagination-centered">
      <p><a href="https://twitter.com/mattjay"><img src="https://si0.twimg.com/profile_images/378800000347034634/d2a5dbc907d4a694895fb428d48c33fe_bigger.jpeg"  width="73" height="73"></a></p>
      <a href="https://twitter.com/mattjay" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow Matt Johansen</a>
      <p><strong>Matt Johansen, Manager</strong>, <em>WhiteHat Security's Threat Research Center</em></p>
    </div>

  </div>
</div>

<div class="row-fluid marketing pagination-centered">
  <a class="twitter-timeline" href="https://twitter.com/AppSecCali" data-widget-id="368066451963273216">Tweets by @AppSecCali</a>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Annenberg Community Beach House</h4>
    <p>Set on five acres of Santa Monica's beach, the Annenberg Community Beach House blends historic Hollywood glamour with coastal Califonia style in an unparalleled meeting and event destination. Winner of Best New Venue at the 2010 BizBash LA Style Awards, the Beach House is a fully accessible, Gold LEED venue with floor to ceiling ocean views, verandas and decks.</p>

    <h4>Address</h4>
    <p>415 Pacific Coast Highway
Santa Monica, CA 90402</p>
  </div>

  <div class="span6">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Annenberg+Community+Beach+House,+Pacific+Coast+Highway,+Santa+Monica,+CA&amp;aq=0&amp;oq=annenber&amp;sll=37.269174,-119.306607&amp;sspn=11.498073,23.269043&amp;ie=UTF8&amp;hq=Annenberg+Community+Beach+House,&amp;hnear=E+Pacific+Coast+Hwy,+Santa+Monica,+Los+Angeles,+California&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=12048857790114702162&amp;ll=34.024316,-118.512688&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Annenberg+Community+Beach+House,+Pacific+Coast+Highway,+Santa+Monica,+CA&amp;aq=0&amp;oq=annenber&amp;sll=37.269174,-119.306607&amp;sspn=11.498073,23.269043&amp;ie=UTF8&amp;hq=Annenberg+Community+Beach+House,&amp;hnear=E+Pacific+Coast+Hwy,+Santa+Monica,+Los+Angeles,+California&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=12048857790114702162&amp;ll=34.024316,-118.512688" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span12 pagination-centered">
    <iframe width="560" height="315" src="//www.youtube.com/embed/Loci904axEQ" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="row-fluid marketing">
  <div class="span6">
    <h4><a name="cfp">Interested in speaking?</a></h4>
    <p>
      <ul>
        <li>Email the <a href="mailto:owasp-cali-planners@owasp.org">conference committee.</a></li>
        <ul>
          <li>Title</li>
          <li>Format (45/20/5 minutes long)</li>
          <li>Abstract</li>
          <li>Previous speaking experience (or references to your content)</li>
          <li>Your name (optional)</li>
          <li>Your bio (optional)</li>
        </ul>
        <li>Deadline to submit: October 15</li>
        <li>Notification of acceptance: November 30</li>
        <li>Travel accomodations are not provided</li>
      </ul>
    </p>
  </div>

  <div class="span6">
    <h4>Topics</h4>
    <ul>
      <li>Security automation</li>
      <li>Secure Coding Education</li>
      <li>Vulnerability analysis: code review, pentest, static analysis</li>
      <li>Privacy-preserving methods for data access and data mining</li>
      <li>Security program management</li>
      <li>Access control models</li>
      <li>Forensics</li>
      <li>Tooling</li>
      <li>Reverse Engineering Malware and Malware Analysis</li>
      <li>Exploitation Tactics</li>
      <li>Information leakage via social networks</li>
      <li>Field reports from corporations regarding the institution of Web Application Security processes</li>
      <li>OWASP in your workplace, university, etc.</li>
    </ul>
  </div>
</div>

<hr>

<div class="row-fluid marketing">
  <h4><a name="contact">Contact us.</a></h4>
  <div class="span5">
    <p><img src="https://si0.twimg.com/profile_images/3203349049/0d2bafa52714b4652f84b7b5b49be40c.png"  width="73" height="73"></p>
    <a href="https://twitter.com/appseccali" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @appseccali</a>

    <p><img src="https://si0.twimg.com/profile_images/589478272/owasp_logo_bigger_bigger.gif" width="73" height="73"></p>
    <a href="https://twitter.com/owaspla" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @owaspla</a>
  </div>

  <div class="span5">
    <p><img src="https://si0.twimg.com/profile_images/589478272/owasp_logo_bigger_bigger.gif"  width="73" height="73"></p>
    <a href="https://twitter.com/owaspoc" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @owaspoc</a>

    <p><img src="https://si0.twimg.com/profile_images/589478272/owasp_logo_bigger_bigger.gif" width="73" height="73"></p>
    <a href="https://twitter.com/owaspbayarea" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @owaspbayarea</a>
  </div>

</div>
