<div class="jumbotron">
	<h3>What an Event!</h3>
	<p class="lead">January 27 &mdash; 28, 2014</p>

  <a href="http://www.flickr.com/photos/115867386@N07/sets/72157640293810595/" class="btn btn-primary btn-block">View Photos From the Event</a>
    <a href="https://www.youtube.com/user/OWASPGLOBAL/videos?sort=dd&view=46&shelf_id=8&tag_id=UCe8j61ABYDuPTdtjItD2veA.3.appseccali2014" class="btn btn-primary btn-block">View Screenscasts From the Event</a>
</div>



<p>AppSec California is the first of hopefully many annual conferences hosted by all of the California chapters. Join us on the beaches of Santa Monica which is closest to our Los Angeles Chapter.</p>

<p>See you in 2015 :wink:</p>

