<div class="jumbotron">
	<h3>What an Event!</h3>
	<p class="lead">January 27 &mdash; 28, 2014</p>

  <a href="http://www.flickr.com/photos/115867386@N07/sets/72157640293810595/" class="btn btn-primary btn-block">View Photos From the Event</a>
    <a href="https://www.youtube.com/user/OWASPGLOBAL/videos?sort=dd&view=46&shelf_id=8&tag_id=UCe8j61ABYDuPTdtjItD2veA.3.appseccali2014" class="btn btn-primary btn-block">View Screenscasts From the Event</a>
</div>



<p>AppSec California is the first of hopefully many annual conferences hosted by all of the California chapters. Join us on the beaches of Santa Monica which is closest to our Los Angeles Chapter. Space is limited to around 200 attendees so be sure to <%= link_to 'get your ticket before we sell out', registration_path %>!</p>

<p>Come a little early or stay the rest of the week; however you enjoy it, the weather is likely going to be warmer than where you are. Enjoy the Santa Monica pier and downtown area or explore the surrounding cities. You probably have a client or 10 near by too so say hello to them too.</p>

<p>Stay tuned as activities around the event are updated and more speakers are added to the lineup. A schedule will come at some point.</p>

