<div class="lead"><%=link_to 'CFP', cfp_speakers_path %> is open until October 15, 2013.</div>
<%= render 'shared/jumbotron' %>

<%= render 'shared/speaker_dex', :locals => { :speakers => @speakers } %>
