<h1>Venue Map</h1>

<%= image_tag 'map.png' %>

<div class="row-fluid marketing">
  <div class="span12 pagination-centered">
  	<%= link_to(image_tag('youtube.png', class: 'youtube-video'), 'https://www.youtube.com/watch?v=Loci904axEQ') %>
  </div>
</div>



<%= render 'shared/location' %>
<%= render 'hotels' %>