<div class="row-fluid marketing">
  <div class="span12 pagination-centered">
    <iframe width="850" height="400" src="//www.youtube.com/embed/Loci904axEQ" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<%= render 'shared/location' %>