<h1>Registration is open!</h1>

<div class="jumbotron" style="text-align: left">
  <a href="http://www.cvent.com/d/q4q8nc/4W" class="btn btn-primary">Register Now!</a>
</div>

<div>
  <p class="lead">$15 Students</p>
  <p class="lead">$25 OWASP Members</p>
  <p class="lead">$30 Attendee</p>
</div>