<h1>Registration is open!</h1>

<div class="jumbotron" style="text-align: left">
  <a href="http://www.cvent.com/d/q4q8nc/4W" class="btn btn-primary">Register Now!</a>
</div>

<h4>Special Advance Pricing</h4>
<div>
  <p class="lead">$30 Students</p>
  <p class="lead">$100 OWASP Members</p>
  <p class="lead">$150 Attendee*</p>
</div>

<h4>* If you purchase an OWASP membership during registration, you will recieve a $50 discount.</h4>
<p>In other words, the savings offset the cost of the membership.<p>
<div>
<%= image_tag 'discount.png' %>
</div>
