<h1>Registration is open!</h1>

<div class="jumbotron" style="text-align: left">
  <a href="http://www.cvent.com/d/q4q8nc/4W" class="btn btn-primary">Register Now!</a>
</div>

<h4>Special Advance Pricing</h4>
<div>
  <p class="lead">$25 Students</p>
  <p class="lead">$50 OWASP Members</p>
  <p class="lead">$100 Attendee</p>
</div>

<div style="font-weight: bold; color: red;">
  * After December 15th, pricing goes up to $30, $100, and $150 respectively.
</div>