/*
 *= require_self
 *= require 'bootstrap-responsive'
 *= require 'bootstrap-responsive'
 *= require 'bootstrap-switch'
 *= require 'jquery.growl'
 *= require 'alerts'
 */

@import "bootstrap";
@import 'bootstrap-responsive';

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
}

#sponsors img {
  padding: 5px;
}

pre {
 word-break: break-word;
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.sponsors {
  color: #FFF;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}


a#Registration {
 color: white;
}
#Registration:visited {
 color: white;
}
#Registration:hover {
 color: white;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

footer {
  position: relative;
  height: 150px;
  clear:both;
  padding-top:100px;
}

label.required {
    font-weight: bold;
}

label.required:after {
    color: #e32;
    content: '*';
    display:inline;
}

p.asterisk {
  color: #e32;
}

.field textarea {
  height: 100px;
}

.actions {
  text-align: right;
}

#speaker_form input[type=text], textarea {
  width:500px;
}

.sidebar-nav {
  padding: 0;
  border: 0;
}

.field {
  padding: 15px;
}

.control-label {
  padding-right: 30px;
}

.field_with_errors label {
  font-weight: bold;
  color: red;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.container-narrow {
  margin: 0 auto;
  max-width: 830px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  margin: 20px 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.marketing {
  margin: 20px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

#banner {
  width:100%;
  padding-top:40px;
  margin-bottom: -2.5%;
}

.youtube-video {
  width: 100%
}

.gmaps {
  width: 100%;
}
