/*
 *= require_self
 *= require 'bootstrap-switch'
 *= require 'jquery.growl'
 *= require 'alerts'
 */

// Core variables and mixins
@import "bootstrap/variables"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins";

// CSS Reset
@import "bootstrap/reset";

// Grid system and page structure
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/layouts";

// Base CSS
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/forms";
@import "bootstrap/tables";

// Components: common
@import "bootstrap/sprites";
@import "bootstrap/dropdowns";
// @import "bootstrap/wells";
@import "bootstrap/component-animations";
@import "bootstrap/close";

// Components: Buttons & Alerts
@import "bootstrap/buttons";
// @import "bootstrap/button-groups";
// @import "bootstrap/alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons

// Components: Nav
@import "bootstrap/navs";
@import "bootstrap/navbar";
// @import "bootstrap/breadcrumbs";
// @import "bootstrap/pagination";
// @import "bootstrap/pager";

// Components: Popovers
// @import "bootstrap/modals";
// @import "bootstrap/tooltip";
// @import "bootstrap/popovers";

// Components: Misc
// @import "bootstrap/thumbnails";
@import "bootstrap/media";
// @import "bootstrap/labels-badges";
// @import "bootstrap/progress-bars";
@import "bootstrap/accordion";
// @import "bootstrap/carousel";
@import "bootstrap/hero-unit";

// Utility classes
@import "bootstrap/utilities"; // Has to be last to override when necessary


@import 'bootstrap-responsive';

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

footer {
  position: relative;
  height: 150px;
  clear:both;
  padding-top:100px;
}

label.required {
    font-weight: bold;
}

label.required:after {
    color: #e32;
    content: '*';
    display:inline;
}

.field textarea {
  height: 100px;
}

.actions {
  text-align: right;
}

#speaker_form input[type=text], textarea {
  width:500px;
}

.sidebar-nav {
  padding: 0;
  border: 0;
}

.field {
  padding: 15px;
}

.control-label {
  padding-right: 30px;
}

.field_with_errors label {
  font-weight: bold;
  color: red;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.container-narrow {
  margin: 0 auto;
  max-width: 830px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  margin: 20px 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.marketing {
  margin: 20px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

#banner {
  width:100%; 
  padding-top:40px
}
