/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'bootstrap'
 *= require_self
 *= require_tree .
 *= require 'bootstrap-responsive'
 */

body {
  padding-bottom: 80px;
  padding-top: 50px;
}

.actions {
  text-align: right;
}

input[type=text], textarea {
  width:500px;
}

.sidebar-nav {
  padding: 9px 0;
}

.field {
  padding: 15px;
}

.control-label {
  padding-right: 30px;
}

.field_with_errors label {
  font-weight: bold;
  color: red;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.container-narrow {
  margin: 0 auto;
  max-width: 830px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  margin: 40px 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.marketing {
  margin: 20px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}
