<div class="lead"><%=link_to 'CFP', cfp_speakers_path %> is open until October 15, 2013.</div>

<%= link_to 'Submit Abstract', new_speaker_path, :class => 'btn btn-primary' %>

<%= render 'shared/cfp' %>